* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(32, 32, 32);
}

header {
    height: 200px;
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px
}

header img {
    height: 80%;
}

main {
    max-width: 1920px;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    color: brown;
}

#search-input {
    width: 300px;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 20px;
}

#pokemon-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pokemon-box {
    height: 300px;
    width: 200px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 8px;
}

#pokemon-box img{
    height: 40%;
}

#pokemon-box img:hover{
    transform: scale(1.1);
}

footer {
    height: 100px;
}

